.Navigation ul{
    list-style-type: none;
}

.Navigation ul li{
    display: inline-block;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in;
}

.Navigation ul li:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.Navigation ul li a{
    color: #ffffff;
    text-decoration: none;
}

.Navigation ul li:hover a{
    color: #000000;
}

