.CountySelector {
    display: flex;
}

.CountySelector div {
    padding: 10px 15px;
    transition: background-color 0.3s ease-in;
    font-size: 20px;
}

.CountySelector div:hover {
    background-color: #ff3700;
    cursor: pointer;
}
