.Articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    padding: 30px;
}

@media (max-width: 860px){
    .Articles{
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px){
    .Articles{
        grid-template-columns: 1fr
    }
}